.cuerpo{
    padding-top: 5%;
    
}
.contenedor1{


}

.parte1{
padding-left: 15%;
padding-right: 15%;
}
.parte2{
    padding-left: 15%;
padding-right: 15%;







}

.imgP {
width: auto;
height: auto;
}


.cont2{
    padding-top: 1%;
    padding-bottom: 1%;
    
    background-color: aqua;
}

.parte3{
    padding-top: 5%;
    padding-left: 15%;
    justify-content: center;
    display: inline-block;
    width: 30%;

}

.parte4{
    display: flex;
  justify-content: center;
    padding-bottom: 5%;
    display: inline-block;
    width: 50%;
    padding-left: 25%;
}

