body{
    margin: 0;
    padding: 0;
}
.heading{
    text-align: center;
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 40px;
    background-color: #f1f1f1;
}

.izq{
    
    padding-top: 7%;
    padding-left: 4%;
    padding-right: 4%;
    
    width: 50%;
 height: 40vh;
 text-align: center;
}
.sombreado{
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 40px;
    background-color: #f1f1f1;
}
.imgtestssss{
    background: url(/img/img1.jpg);
    background-size: cover;
    background-position: center;
    width:100%;
height: 50vh;
}


.der{
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 50vh;
    
}

.pnt-div{
    
    padding-top: 5%;
    display: flex;
}



