body{
    margin: 0;
    padding: 0;
}


.izq1{
    
    padding-top: 7%;
    padding-left: 4%;
    padding-right: 4%;
    
    width: 50%;
 height: 40vh;
 text-align: center;
}

.imgh{
    background: url(/img/h-42-115-1901-10427-1556557859.jpg);
   background-repeat: no-repeat;
    background-position: center;
    width:100%;
height: 100%;
}


.der1{
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    
}

.pnt-div{
    
    padding-top: 5%;
    display: flex;
}



/* 


#contenedor{
text-align: left;
width: 100%;
margin: auto;
}

#lateral {
    width: 80%;  
    background-color: #CCCCCC;  
    float:right;
}


#principal {
    width: 30%;
    float: left;
    background-color: #FFFFFF;
    border:#000000 1px solid;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


.imgtest{
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;


} */
